/* Add your CSS styles for the ListCompanies component here */
.list-companies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.centered-list {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.centered-list h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

li h3 {
    margin: 0;
}

li p {
    margin: 5px 0;
}

li a {
    color: #007bff;
    text-decoration: none;
}
