/* StaffList.css */

.staff-list-container {
    margin: 20px;
}

.staff-list {
    list-style: none;
    padding: 0;
}
.loading-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);
    background-color: #FDFDFD; /* Adjust the transparency here */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.staff-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.staff-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.staff-email {
    color: #555;
}

/* Add more styles for other staff details as needed */
